.container {
    width: 100%;
    position: relative;
    background-image: url(./bg_aoduomu.png);
    background-size: cover;
    box-sizing: border-box;
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 46px;
        font-weight: bold;
        color: white;
        .title{
            margin-bottom: 27px;
        }
    }
    .bottom {
        display: flex;
        justify-content:center;
        margin-top:78px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(1) {
                margin-right: 120px;
            }
            img {
                width: 463px;
            }
            span {
                margin-top: 20px;
                margin-bottom: 69px;
            }
        }
    }
}