.container {
    width: 1200px;
    height: 483px;
    margin: 0 auto 180px;
    padding-top: 190px;
    position: relative;
    .bg_banner {
        width:100%;
        position: absolute;
    }
    .content{
        position: relative;
        // z-index: 10;
        padding: 49px 0 80px 50px;
        .title{
            color: white;
            font-size: 40px;
            font-weight: bold;
        }
        .subtitle{
            margin-top: 15px;
            font-family: HelveticaNeue;
            color: #7F7F7F;
            font-size: 19px;
            width: 513px;
            line-height: 22px;
        }
        .btn{
            width: 164px;
            height: 53px;
            background: #64FFDA;
            border-radius: 32px;
            font-size: 18px;
            color: black;
            font-weight: bold;
            text-align: center;
            line-height: 53px;
            margin-top: 22px;
            cursor: pointer;
        }
    }
}