//.item {
//    width: 314px !important;
//    .img{
//        width: 100%;
//    }
//}


.container {
    width: 100%;
    overflow-x: auto;
    margin-bottom:123px;
    .slide {
        display:flex;
        .img {
            height: 333px;
            aspect-ratio: auto 314/333;
            margin-left: 23px;
            &:last-child{
                padding-right: 23px;
            }
        }
    }
}