.footer{
    background: #6A33E2;
    .content{
        width: 1200px;
        height: 73px;
        margin: 0 auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        .left{
            font-weight: 500;
            color: #FFFFFF;
            font-size: 18px;
        }
        .right{
            display: flex;
            a{
                cursor: pointer;
                border-radius: 50px;
                background:white;
                width: 114px;
                height: 39px;
                text-align: center;
                line-height: 39px;
                font-family: HelveticaNeue-CondensedBold, HelveticaNeue;
                font-size: 20px;
                color: #6A33E2;
                margin-left: 34px;
                display: block;
            }
        }
    }
}