.container{
    margin: 0 auto 104px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    .left {
        margin-right: 61px;
        height:630px;
        aspect-ratio: auto 448/630;
    }
    .right{
        display: flex;
        width:690px;
        flex-direction: column;
        flex:1;
        justify-content: space-between;
        .title{
            font-size: 40px;
            font-weight: bold;
            color: #FFFFFF;
        }
        .subtitle{
            color: #7F7F7F;
            line-height: 23px;
            font-size: 19px;
        }
    }
    
}